body {
    font-family: monospace;
    font-size: 13px;
    margin: 0;
    overflow: hidden;
    touch-action: none;
}

svg {
    pointer-events: none;
    position: absolute;
}

#cu-gamepad {
    left: 0;
    bottom: 25px;
}

#cu-car {
    left: 0;
    top: 50px;
}

#car-hud {
    bottom: 0;
    left: 50%;
    margin-left: -70px;
}
